<div>
    <h1>Cart</h1>
    {{#if data}}
        <p>Id del carrito: {{data._id}}</p>
        <button><a href="http://localhost:8080/products">volver a la lista de productos</a></button>
        {{#each data.products }}
        <li>
            <div>
                <h3>Title: {{this._id.title}}</h3>
                <p>Description: {{this._id.description}}</p>
                <p>Category: {{this._id.category}}</p>
                <p>Quantity: {{this.quantity}}</p>
            </div>
        </li>
        
        {{/each}}
    {{else}}
        <h1>{{message}}</h1>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>
<script src="/js/realTimeCart.js"></script>