<div>
  <div class="row card shadow m-5">
    <h1>Borrar productos</h1>
    <p>Usuario: {{user.name}}</p>
    <p>Usario Id:</p><p id="userId">{{user.id}}</p>
    <p>Email:</p><p id="userMail">{{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <a href="/api/sessions/logout"><button>cerrar sesion</button></a>
    <a href="http://localhost:8000/products"><button>Volver</button></a>
  </div>
  <div id="listProducts">
    <h2>Lista de Productos</h2>
    {{#if hasPrevPage}}

      <a href="/deleteProduct?page={{prevPage}}"><button>Anterior</button></a>

    {{/if}}

    {{page}}

    {{#if hasNextPage}}

      <a href="/deleteProduct?page={{nextPage}}"><button>Siguiente</button></a>

    {{/if}}
    {{#if allProducts}}
    {{#each allProducts}}
      <div class="card" id="{{userId}}">
            
        <h2>{{this.title}}</h2>
        <p>description : {{this.description}}</p>
        <p>price : <p class="price">{{this.price}}</p></p>
        <p>thumbnail : {{this.thumbnail}}</p>
        <p>code : {{this.code}}</p>
        <p>stock : {{this.stock}}</p>
        <p>owner: {{this.owner}}</p>
        <p>id: {{this.id}}</p>

        <button class="buttonDeleteProduct" id={{this.id}}>Borrar producto</button>
        <br>

  </div>
  {{/each}}
  {{else}}
    <h2>No tienes productos creados</h2>
  {{/if}}
  <br>
  {{#if hasPrevPage}}

    <a href="/deleteProduct?page={{prevPage}}"><button>Anterior</button></a>

  {{/if}}

  {{page}}

  {{#if hasNextPage}}

    <a href="/deleteProduct?page={{nextPage}}"><button>Siguiente</button></a>

  {{/if}}
</div>
{{#if rolPremium}}
<script src="/js/deleteProduct.js"></script>
{{/if}}
{{#if rolAdmin}}
<script src="/js/deleteProductAdmin.js"></script>
{{/if}}