<div>
    <div class="row card shadow m-5">
      <div>
        <h1>Borrar tus productos</h1>
        <p>Usuario: {{user.name}}</p>
        <p>Correo: {{user.email}} </p>
        <p>Rol: {{user.role}}</p>
        <a href="/api/sessions/logout"><button>cerrar sesion</button></a>
        <a href="http://localhost:8000/products"><button>Volver</button></a>
    </div>
</div>
<div>
</div>
<div>
    <h2>Lista de Productos</h2>
    {{#each allProducts}}
        <div class="{{userId}}">
            
            <h2>{{this.title}}</h2>
            <p>description : {{this.description}}</p>
            <p>price : <p class="price">{{this.price}}</p></p>
            <p>thumbnail : {{this.thumbnail}}</p>
            <p>code : {{this.code}}</p>
            <p>stock : {{this.stock}}</p>
            <p>id: {{this.id}}</p>

            <button class="buttonDeleteProduct" id={{this.id}}>Borrar producto</button>
            <br>

        </div>
    {{/each}}
    </div>
    <br>
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}"><button>Anterior</button></a>

    {{/if}}

    {{page}}

    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>

    {{/if}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/deleteProduct.js"></script>