<div>
    <a href="/login"><button>iniciar sesion</button></a>
    <a href="/register"><button>registrarse</button></a>
</div>
<div>
    <h2>Lista de Productos</h2>

    <div class={{user.id}} id="listProducts">
        {{#each allProducts}}
            <div>
                
                <h2>{{this.title}}</h2>
                <p>description : {{this.description}}</p>
                <p>price : {{this.price}}</p>
                <p>thumbnail : {{this.thumbnail}}</p>
                <p>code : {{this.code}}</p>
                <p>stock : {{this.stock}}</p>
                <p>id: {{this.id}}</p>

                <a href="/login"><button>agregar al carrito</button></a>

            </div>
        {{/each}}
        </div>
        <br>
        {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}"><button>Anterior</button></a>

        {{/if}}

        {{page}}

        {{#if hasNextPage}}
        <a href="/?page={{nextPage}}"><button>Siguiente</button></a>

        {{/if}}

</div>
