<div>
    <div>
        <div class="row card shadow m-5">

        <h1>{{user.name}}</h1>
        <p class="userId" id="{{user.id}}">Usario Id: {{user.id}}</p>
        <p class="userMail" id="{{user.email}}">Email: {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
        <a href="/api/sessions/logout"><button>cerrar sesion</button></a>

        </div>
        <div id="listProducts">
          
            <h2>Lista de Productos</h2>

            <br>
            <a href="/createProduct"><button>Crear productos</button></a>
            <br>

            <br>
            <a href="/deleteProduct"><button>Lista de productos</button></a>
            <br>

            <br>
            <a href="/users"><button>Lista de usuarios</button></a>
            <br>
            <br>

            {{#if hasPrevPage}}

                <a href="/products?page={{prevPage}}"><button>Anterior</button></a>

            {{/if}}

            {{page}}

            {{#if hasNextPage}}

                <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>

            {{/if}}                    

          {{#each allProducts}}

            <div class="card">
              
            <h2>{{this.title}}</h2>
            <p>description : {{this.description}}</p>
            <p>price: {{this.price}}</p></p>
            <p>thumbnail : {{this.thumbnail}}</p>
            <p>code : {{this.code}}</p>
            <p>stock : {{this.stock}}</p>
            <p>owner: {{this.owner}}</p>
            <p>id: {{this.id}}</p>

            <br>
            
            <a href="/updateProduct?pid={{this.id}}"><button>Modificar producto</button></a>

            </div>

          {{/each}}

        </div>

    </div>
    <br>
    {{#if hasPrevPage}}

    <a href="/products?page={{prevPage}}"><button>Anterior</button></a>

    {{/if}}

    {{page}}

    {{#if hasNextPage}}

    <a href="/products?page={{nextPage}}"><button>Siguiente</button></a>

    {{/if}}
</div>
